.movie-card {
  position: relative;
  perspective: 1000px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.movie-card:hover {
  transform: translateY(-30px) rotateX(5deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.movie-card-img-highlight {
  opacity: 1;
  filter: brightness(50%);
}

.movie-card-img {
  position: relative;
  z-index: 2;
}