.movie-card-img:hover {
  animation: bounce 1s ease;
  transform-origin: center bottom;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.movie-card-img-highlight {
  filter: brightness(90%);
}