@font-face {
  font-family: 'Cthulhu';
  src: url('../../../public/fonts/Creepster-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-face {
  font-family: 'Cthulhu';
}

.nav-links a {
  transition: transform 1.5s ease-in-out;
  font-size: 20px;
}

.nav-links a:hover {
  color: #008f11;
  text-shadow: 0 0 10px rgba(0, 143, 17, 0.8), 0 0 20px rgba(0, 143, 17, 0.8), 0 0 30px rgba(0, 143, 17, 0.8);
  transform: scale(.9);
}

.cthulhuflix {
  font-family: 'Cthulhu';
  font-size: 2rem;
  color: #008f11;
  text-shadow: 0 0 0 rgba(0, 143, 17, 0.8), 0 0 20px rgba(0, 143, 17, 0.8), 0 0 30px rgba(0, 143, 17, 0.8), 0 0 40px rgba(0, 143, 17, 0.8), 0 0 50px rgba(0, 143, 17, 0.8);
  animation: glow 3s ease-in-out infinite alternate;
  letter-spacing: 2px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 0 rgba(0, 143, 17, 0.8), 0 0 0 rgba(0, 143, 17, 0.8), 0 0 0 rgba(0, 143, 17, 0.8), 0 0 5px rgba(0, 143, 17, 0.8), 0 0 40px rgba(0, 143, 17, 0.8);
  }
  to {
    text-shadow: 0 0 0 rgba(0, 143, 17, 0.8), 0 0 30px rgba(0, 143, 17, 0.8), 0 0 50px rgba(0, 143, 17, 0.8), 0 0 70px rgba(0, 143, 17, 0.8), 0 0 90px rgba(0, 143, 17, 0.8);
  }
}

.search-button {
  color: #008f11;
  background-color: transparent;
  border-color: #008f11;
}

.search-button:hover {
  background-color: #008f11;
  border-color: #008f11;
}
