.form-control:not(:focus) {
  color: #fff;
}

.form-control:focus {
  color: #fff;
  border-bottom: 2px solid green;
  filter: drop-shadow(5px 10px 10px green);
}

.form-control:valid {
  border-color: #fff;
}

.input-group-sm label,
.card-title {
  letter-spacing: 2px;
  filter: drop-shadow(10px 10px 4px green);
}

.btn-primary {
  height: 45px;
  letter-spacing: 1px;
}

.update-card {
  border-radius: 15px;
  box-shadow: 0 0 145px 5px green;
}
